<!-- Footer Start -->
<div class="container-fluid bg-primary text-light footer mt-1 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3">
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <br>
                <h5 class="text-white mb-4">Popular Link</h5>
                <a class="btn btn-link" href="about">About Us</a>
                <a class="btn btn-link" href="contact">Contact Us</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Career</a>
            </div>

        </div>
        <div class="col-md-6 col-lg-3">
            <br>

        </div>
    </div>
</div>
</div>
<div class="container px-lg-5" style="background-color: #2124b1; ">
    <div class="copyright">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" style="color: aliceblue;" href="#">Visual Disease Detection</a>
                ,All Rights Reserved
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<div id="body">
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <img class="chat-circle-bot" src="img/healthGPT.png" />
    </div>

    <div class="chat-box">
        <div class="chat-box-header">
            &nbsp; &nbsp; HealthGPT
            <span class="chat-box-toggle"
                ><i class="material-icons">close</i></span
            >
            <span class="chat-box-delete"
                        ><i class="material-icons">refresh</i></span
                    >
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay"></div>
            <div class="chat-logs"></div>
            <!--chat-log -->
        </div>
        <div class="chat-input">
            <form>
                <input
                    type="text"
                    id="chat-input"
                    placeholder="Send a message..."
                    name="chatInput"
                />
                <button
                    type="button"
                    class="chat-submit"
                    id="chat-submit"
                >
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>